<div class="author-pic">
  <img src="/assets/images/profile_bw.png" alt="{{ site.author.name }}" />
</div>

<div class="author-about">
  <h3>{{ site.author.name }}</h3>
  {% if site.author.title %}
  <h4>{{ site.author.title }}</h4>
  {% endif %}

  <dl class="author-links">
    {% if site.author.email %}
    <dl>
      <dt>Email</dt>
      <dd>
        <a href="mailto: {{ autor.email }}" target="_blank">{{ site.author.email }}</a>
      </dd>
    </dl>
    {% endif %}

    {% if site.author.github %}
    <dl>
      <dt>
        LinkedIn
      </dt>
      <dd>
        <a href="https://www.linkedin.com/in/jeanlouisgiordano/" target="_blank">
          jeanlouisgiordano
        </a>
      </dd>
      <dt>
        Github
      </dt>
      <dd>
        <a href="https://github.com/{{ site.author.github }}" target="_blank">
          @{{ site.author.github }}
        </a>
      </dd>
    </dl>
    {% endif %}

    {% if site.author.twitter %}
    <dt>
      Twitter
    </dt>
    <dd>
      <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
        @{{ site.author.twitter }}
      </a>
    </dd>
    {% endif %}

  </dl>
</div>
