<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>

  <div class="row-fluid">
    <div class="span9">
      {% unless page.categories == empty && page.tags == empty %}
      <ul class="tag_box inline">

        {% unless page.categories == empty %}
        <li><i class="icon-folder-open"></i></li>
        {% assign categories_list = page.categories %}
        {% include JB/categories_list %}
        {% endunless %}

        {% unless page.tags == empty %}
        <li><i class="icon-tags"></i></li>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
        {% endunless %}
      </ul>
      {% endunless %}

    </div>
    <div class="span3">
      <div class="date">
        <span>{{ page.date | date_to_long_string }}</span>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="content">
      {{ content }}
    </div>
  </div>
</div>
